@media screen and (min-width:576px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .alert-info {
        border: 2px solid grey;
        background-color: lightskyblue;
        align-self: center;
        font-size: 10px;
        height: 50px;
        width: 100%
    }

    .center-item {
        display: flex;
        justify-content: center;
    }

    .header-img > img{
        max-width: 200px;
    }
    #skip-nav {
        display: flex;
        text-decoration: none;
        color: black;
        align-items: center;
        font-size: 3em;
    }
    #title {
        display: inline-block;
        margin: auto;
        font-size: 5em;
    }
    .nav-links > li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        background-color: grey;

    }

    .main {
        display: flex;
        flex-direction: column;
    }
    .sub-section{
        display: flex;
        flex-direction: column;
    }
}