@media screen and (min-width:576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .alert-info {
        border: 2px solid grey;
        background-color: lightskyblue;
        align-self: center;
        font-size: 10px;
        height: 50px;
        width: 100%
    }

    .center-item {
        display: flex;
        justify-content: center;
    }

    .header-img > img{
        /*padding: 1em;*/
        margin: 1em auto;
        max-width: 100%;
        height: auto;

    }
    #skip-nav {
        display: flex;
        text-decoration: none;
        color: black;
        align-items: center;
        font-size: 3em;
    }
    #title {
        display: inline-block;
        margin: auto;
        font-size: 3em;
    }

    ul.nav-links{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-around;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links > li{
        display: flex;
        justify-content: space-around;
        list-style: none;
        background-color: lightgrey;
        padding: 1em;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    .main > h2 {
        height: .5px;
    }

    .sub-section {
        display: flex;
        flex-direction: column;
        /*padding: 100px;*/
    }
    .sub-section > h2 {
        height: .5px;

    }
    footer > p{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}